/* 
.main{
    background-color: #d857a4;
} */
.form-content {
  background-color: #ffffff;
}

.logo-content {
  border: 1px solid black;
  background: #203c28 0% 0% no-repeat padding-box;
  height: 50px;
  display: flex;
  align-items: center;
}

.warning{
  padding-left: 90px;
  padding-top: 25px;
}
.logo-content-img {
  margin-left: 30px;
  align-content: center;
}

.form-content {
  border: 1px solid rgb(0, 0, 0);
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-link link{
  padding-left: 10%;
}


.form-head {
  background: #49ca5a 0% 0% no-repeat padding-box;
  text-align: center;
  color: rgb(4, 2, 2);
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  font-style: italic;
}

.row-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.input {
  width: 40%;
  padding: 10px;
}

.button-parent {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submit-button {
  width: 15%;
  height: 25px;
  margin-right: 10px;
}

.reset-button {
  width: 15%;
  height: 25px;
  margin-left: 10px;
}

.button {
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
  background: transparent;
  border: none;
  font-weight: 400;
  min-width: 140px;
  padding: 7px 7px;
  height: 40px;

  cursor: pointer;
}

.addButton {
  background-color: #f5f5f5;
  margin-right: 30px;
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  border-radius: 5px;
  opacity: 1;
}

.resetButton {
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  border-radius: 5px;
  opacity: 1;
}
